// @import "./core/variables";
// @import "./core/reset";
// @import "./layout/header.scss";
// @import "./layout/main.scss";
// @import "./layout/footer.scss";

body {
  background-image: url("../images/hogwards-phoenix.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #909090;
}

.header {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    width: 250px;
    @media (min-width: 768px) {
      width: 350px;
    }
    @media (min-width: 1200px) {
      width: 450px;
    }
  }
}
main {
  margin: 0px 20px;
}

.filter__container {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.filterName {
  color: #7f1734;
  font-weight: bold;
  background-color: #daa520;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;

  @media (min-width: 1200px) {
    font-size: 20px;
  }
  &__input {
    width: 350px;
    height: 30px;
    color: #7f1734;
    font-weight: bold;
    padding: 10px;
    border: none;
    border: #daa520 3px solid;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 13px;
    @media (min-width: 768px) {
      width: 450px;
    }
    @media (min-width: 1200px) {
      width: 550px;
    }
  }
}

.filterHouse {
  margin-top: 15px;
  background-color: #daa520;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  color: #7f1734;
  font-size: 15px;
  font-weight: bold;
  @media (min-width: 1200px) {
    font-size: 22px;
  }
  &__select {
    width: 180px;
    padding: 10px 20px;
    font-size: 10px;
    color: #7f1734;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    border: #daa520 2px solid;
    background: #fff;
    font-weight: bold;
    @media (min-width: 768px) {
      width: 280px;
    }
    @media (min-width: 1200px) {
      width: 380px;
      padding: 15px;
      font-size: 15px;
    }
  }
}

.btn {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: #daa520;
  border-radius: 10px;
  padding: 5px;
  color: #7f1734;
  border: #daa520 2px solid;
  font-size: 12px;
  font-weight: bold;
  @media (min-width: 768px) {
    width: 115px;
    height: 40px;
    font-size: 15px;
  }
  @media (min-width: 1200px) {
    width: 125px;
  }
}

.character_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.imgCard {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 20%;
  margin: 10px;
  @media (min-width: 768px) {
    width: 180px;
    height: 250px;
  }
  @media (min-width: 1200px) {
    width: 200px;
    height: 270px;
  }
}
.containerDescription {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #7f1734;
  text-decoration: none;
  // color: #daa520;
  background-color: #daa520;
  padding: 10px;
  border-radius: 10px;

  &__name {
    font-size: 15px;
  }
  &__specie {
    font-size: 10px;
  }
}

.container_donotexist {
  margin-top: 50px;
  font-size: 25;
  text-align: center;
  background-color: #daa520;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.container__link {
  text-align: right;
  margin-right: 30px;
}

.link__back {
  font-size: 20px;
  font-weight: bold;
  color: #7f1734;
  // border: #daa520 solid 5px;
  background-color: #daa520;
  padding: 10px;
  border-radius: 20%;
  cursor: pointer;
}

.container__details {
  margin-top: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &--img {
    width: 150px;
    height: 200px;
    border-radius: 20%;
    object-fit: cover;

    @media (min-width: 768px) {
      width: 170px;
      height: 225px;
    }
    @media (min-width: 1200px) {
      width: 170px;
      height: 250px;
    }
  }
  &--text {
    height: 200px;
    margin-left: 10px;
    background-color: #daa520;
    opacity: 0.75;
    padding: 20px;
    border-radius: 20%;
    font-size: 12px;
    color: #000;
    @media (min-width: 768px) {
      font-size: 15px;
      height: 225px;
    }
    @media (min-width: 1200px) {
      height: 250px;
    }
    &__status {
      margin-top: 5px;
      font-weight: bold;
    }
    .shield {
      width: 20px;
      height: 20px;
      object-fit: cover;
      position: absolute;
      @media (min-width: 768px) {
        width: 30px;
        height: 30px;
      }
      @media (min-width: 1200px) {
        width: 50px;
        height: 50px;
      }
    }
  }
}

.footer {
  color: #daa520;
  text-align: center;
  font-weight: bold;
  bottom: 0;
  margin-top: 100px;
  margin-bottom: 0px;
  align-items: center;
  margin-left: 10px;
}
